.App {
  text-align: center;
}

body {
    background-color: #222;
}

.App-logo {
  position: absolute;
  animation: App-gif-spin infinite 20s linear;
  height: 70px;
  left: 25px;
}

.App-top {
  background-color: #222;
  height: 10px;
  width: 100%;
}

.App-header {
  float:left;
  background-color: #222;
  height: 100px;
  width: 25%;
  color: white;
  padding-top: 15px;
  padding-bottom: 25px;
}

.App-title1 {
  color: #E74C3C;
  float:left;
  position: absolute;
  font-size: 2em;
  left: 110px;
  top: 40px
}

.App-title2 {
  color: #F4B350;
  float:left;
  position: absolute;
  font-size: 2em;
  left: 205px;
  top: 40px
}

.App-title3 {
  color: #87D37C;
  float:left;
  position: absolute;
  font-size: 2em;
  left: 285px;
  top: 40px
}

.App-submits{
  position: absolute;
  float:left;
  background-color: #a6a6a6;
  text-align: left;
  top: 110px;
  width: 25%;
  height: 135px;
  padding-left: 20px;
  box-sizing: border-box;
}

.form-control {
    width: calc(100% - 12px);
}

.submitButton{
  position: absolute;
  margin: auto;
  left: 70%;
  width: 25%;
  height: 62%;
}

.App-results{
  position: absolute;
  float:left;
  width: 25%;
  height: calc(100% - 255px);
  padding-left: 20px;
  top: 245px;
  background-color: #cccccc;
  box-sizing: border-box;
}

.result{
  position:relative;
  background-color: #cccccc;
  top:10px;
  width: 95%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #a6a6a6;
}

.resultRoute{
  font-size: 1.5em;
}

.resultNumber{
  font-size: 1em;
}

.resultTime{
  font-size: 1em;
}

.App-map-container{
  position: absolute;
  margin: auto;
  width: 75%;
  top: 10px;
  right: 10px;
  bottom: 10px;
  height: calc(100% - 20px);
  left: 25%;
}

.App-bot {
  background-color: #222;
  height: 10px;
  width: 100%;
  top: calc(100% - 10px);
}

@keyframes App-gif-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
