.App {
  text-align: center;
}

body {
    background-color: #222;
}

.App-logo {
  animation: App-gif-spin infinite 20s linear;
  height: 100px;
}

.App-top {
  background-color: #222;
  height: 10px;
  width: 100%;
}

.App-header {
  float:left;
  background-color: #222;
  height: 150px;
  width: 25%;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-submits{
  position: absolute;
  float:left;
  background-color: #a6a6a6;
  text-align: left;
  top: 200px;
  width: 25%;
  height: 150px;
  padding-left: 20px;
  box-sizing: border-box;
}

.inputField {
    width: 45%;
}

.submitButton{
  position: absolute;
  margin: auto;
  left: 70%;
  width: 100px;
  height: 60px;
}

.App-results{
  position: absolute;
  float:left;
  width: 25%;
  height: calc(100% - 360px);
  padding-left: 20px;
  top: 350px;
  background-color: #cccccc;
  box-sizing: border-box;
}

.App-map-container{
  position: absolute;
  margin: auto;
  width: 75%;
  top: 10px;
  right: 10px;
  bottom: 10px;
  height: calc(100% - 20px);
  left: 25%;
}

.App-bot {
  background-color: #222;
  height: 10px;
  width: 100%;
  top: calc(100% - 10px);
}

@keyframes App-gif-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
