.App {
  text-align: center;
}

.App-logo {
  animation: App-gif-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 25px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-submits{
  float:left;
  background-color: #a6a6a6;
  text-align: left;
  width: 25%;
  height: 150px;
  padding-left: 20px;
  box-sizing: border-box;
}

.inputField {
    width: 45%;
}

.submitButton{
  position: absolute;
  margin: auto;
  left: 15%;
  width: 100px;
  height: 60px;
}

.App-results{
  position: absolute;
  float:left;
  width: 25%;
  height: calc(100% - 350px);
  padding-left: 20px;
  top: 350px;
  background-color: #cccccc;
  box-sizing: border-box;
}

.App-map-container{
  position: absolute;
  margin: auto;
  width: 75%;
  height: calc(100% - 200px);
  left: 25%;
}
@keyframes App-gif-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
