<style>
.noselect{
-webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}
</style>
<h1>Lista asioita jota on serverillä ihan vaan testiks älä valita</h1>

<input type="text" id="textfield" placeholder="Tähän tulee tekstiä">
<div class="noselect" ng-dblclick="lisaakantaan()" >Töstö ky tuplaklikkaa pitsäis men kamea sisää</div>
<!-- <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label> -->

  <uib-accordion close-others="oneAtATime">
    <uib-accordion-group ng-repeat="x in data.data">
      <uib-accordion-heading>
        {{x}}
      </uib-accordion-heading>
        {{x}}
    </uib-accordion-group>
  </uib-accordion>
